@model WebApplication2.Models.Article

@{
  ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Article</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <div>
      <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" id="createTitle" />
      </div>
      <div class="form-group">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control" id="createAuthor" />
      </div>
      <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" id="createDate" />
      </div>
      <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <input asp-for="Content" class="form-control" id="createContent" />
      </div>
      <div class="form-group">
        <label asp-for="AttachFile" class="control-label"></label>
        <input asp-for="AttachFile" class="form-control" id="createAttachFile" />
      </div>
      <div class="form-group">
        <button class="btn btn-default" onclick="SubmitArticle()">Submit</button>
      </div>
    </div>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

<script>
  function SubmitArticle() {
    var jsonData = {
      Title: $('#createTitle').val(),
      Author: $('#createAuthor').val(),
      Date: $('#createDate').val(),
      Content: $('#createContent').val(),
      AttachFile: $('#createAttachFile').val()
    };
    var url = '/Articles/PostCreate';

    $.ajax({
      type: 'POST',
      url: url,
      data: { article: jsonData },
      dataType: 'json',
      success: function (data) {
        if (data.result == 1) {
          alert('Create success');
          location.href = '/Articles';
        }
        else {
          alert('Create faile: ' + data.msg);
        }
      }
    });
    return 1;
  }
</script>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
